# by {{file}} at {{date}}
#Min	#Hour	#DoM	#Mon	#DoW	#User		#Command

*/10	*	*	*	*	root		newsyslog
*/5	*	*	*	*	root		rdate -s pool.ntp.org
*/10	*	*	*	*	root		o=$(motd) && echo "$o" >/etc/motd

%% [ -f /etc/crontab.local ] && cat /etc/crontab.local
